<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Brands</title>
    <!-- plugins:css -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
        integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="vendors/feather/feather.css">
    <link rel="stylesheet" href="vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="vendors/typicons/typicons.css">
    <link rel="stylesheet" href="vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="  css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="  images/favicon.png" />
</head>

<body>
    <div class="container-scroller">
        <!-- partial:  partials/_navbar.html -->
        <%- include('./partials/_navbar.ejs'); -%>
            <!-- partial -->
            <div class="container-fluid page-body-wrapper">
                <!-- partial:  partials/_settings-panel.html -->
                <!-- <%- include('./partials/_settings-panel'); -%> -->
                <%- include('./partials/settingPanel'); -%>






                    <!-- partial -->
                    <%- include('./partials/_sidebar'); -%>

                        <!-- partial:  partials/_sidebar.html -->

                        <!-- partial -->
                        <div class="main-panel">
                            <div class="content-wrapper">
                                <div class="row">
                                    <div class="col-md-6 grid-margin ">
                                        <div class="card">
                                            <div class="card-body">
                                                <h4 class="card-title">Add Material type </h4>
                                                <p class="card-description">
                                                    A ddin Material type products
                                                </p>
                                                <p>
                                                    <%= meg %>
                                                </p>
                                                <form class="forms-sample" action="/admin/material" method="post">
                                                    <div class="form-group row">
                                                        <label for="materialName" class="col-sm-3 col-form-label">
                                                            Material</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" class="form-control" id="materialName"
                                                                placeholder="Material" name="materialName" required>
                                                        </div>
                                                    </div>

                                                    <!-- <div class="form-group row">
                      <label for="logo" class="col-sm-3 col-form-label">logo</label>
                      <div class="col-sm-9">
                        <input type="file" class="form-control" id="logo" placeholder="add img" name="logo" multiple>
                      </div>
                    </div> -->
                                                    <button type="submit" class="btn btn-primary me-2">Submit</button>
                                                    <button class="btn btn-light">Cancel</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div class="row">

                                    <div class="col-lg-12 grid-margin stretch-card">
                                        <div class="card">
                                            <div class="card-body">
                                                <h4 class="card-title">Brands</h4>
                                                <p class="card-description">
                                                    <code></code>
                                                </p>
                                                <div class="table-responsive">
                                                    <table class="table table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>num</th>
                                                                <th>Material </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% let num=1; for(brand of materials) {%>
                                                                <tr>
                                                                    <td>
                                                                        <%= num %>
                                                                    </td>
                                                                    <td>
                                                                        <%= brand.name %>
                                                                    </td>
                                                                    <% num++} %>
                                                                </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                </div>


                            </div>
                            <!-- Button trigger modal -->

                            <!-- Modal -->

                            <!-- content-wrapper ends -->
                            <!-- partial:  partials/_footer.html -->
                            <footer class="footer">
                                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                                    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Premium
                                        <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin
                                            template</a> from
                                        BootstrapDash.</span>
                                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright ©
                                        2021. All rights
                                        reserved.</span>
                                </div>
                            </footer>
                            <!-- partial -->
                        </div>
                        <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
        integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
        crossorigin="anonymous"></script>
    <script src="vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
        integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
        crossorigin="anonymous"></script>
    <script src="js/off-canvas.js"></script>
    <script src="js/hoverable-collapse.js"></script>
    <script src="js/template.js"></script>
    <script src="js/settings.js"></script>
    <script src="js/todolist.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
        integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
        crossorigin="anonymous"></script>

    <!-- endinject -->
    <!-- Custom js for this page-->
    <!-- End custom js for this page-->
</body>

</html>