<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Product</title>
    <!-- plugins:css -->
    <%- include("./partials/_cssPlagins") %> 
   
</head>

<body>
    <div class="container-scroller">
        <!-- partial:  partials/_navbar.html -->
        <%- include('./partials/_navbar.ejs'); -%>
            <!-- partial -->
         <div class="container-fluid page-body-wrapper">
                <!-- partial:  partials/_settings-panel.html -->
                <!-- <%- include('./partials/_settings-panel'); -%> -->
                <%- include('./partials/settingPanel'); -%>






                    <!-- partial -->
                    <%- include('./partials/_sidebar'); -%>

                        <!-- partial:  partials/_sidebar.html -->

                        <!-- partial -->
                        <div class="main-panel">
                            <div class="content-wrapper">
                                <div class="row">
                                    <div class="col-12 grid-margin">
                                        <div class="card">
                                            <div class="card-body">
                                                <h4 class="card-title">add products</h4>
                                                <form class="form-sample" action="/admin/product" method="post" enctype="multipart/form-data">
                                                    <p class="card-description">
                                                        Product  info
                                                    </p>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group row">
                                                                <label class="col-sm-3 col-form-label " for="productName">Product Name</label>
                                                                <div class="col-sm-9">
                                                                    <input type="text" class="form-control" id="prductName"  name="prodcutName" placeholder="product name"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group row">
                                                                <label class="col-sm-3 col-form-label">Brand</label>
                                                                <div class="col-sm-9">
                                                                    <select  class="form-control" placeholder="Brand">
                                                                    <%for( value of brand){ %>
                                                                        <option value="<%=value._id%>">
                                                                            <%=value.name%>
                                                                        </option>
                                                                        <%}%>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group row">
                                                                <label class="col-sm-3 col-form-label " for="productCategory">Category</label>
                                                                <div class="col-sm-9">
                                                                    <select class="form-control" id="productCategory">
                                                                        <%for( value of category){ %>
                                                                            <option value="<%=value._id%>">
                                                                                <%=value.name%>
                                                                            </option>
                                                                            <%}%>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group row">
                                                              <label class="col-sm-3 col-form-label " for="productSubcategory">Subcategory</label>
                                                              <div class="col-sm-9">
                                                                  <select class="form-control" id="productSubcategory" name="productSubcategory">
                                                               
                                                                  <option value=" ">option</option>
                                                                   </select>
                                                              </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group row">
                                                                <label class="col-sm-3 col-form-label " for="productDesc">Product Description</label>
                                                                <div class="col-sm-9">
                                                                    <input type="text" name="productDesc" id="productDesc" placeholder="Product Description" class="form-control">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group row">
                                                                <label class="col-sm-3 col-form-label">Stocks</label>
                                                                
                                                                    
                                                                    <div class="col-sm-3">
                                                                        <input type="text" name="sizeSmall" id="sizeSmall" placeholder="14mm" class="form-control">
                                                                    </div>
                                                                    <div class="col-sm-3">
                                                                        <input type="text" name="sizeMidium" id="sizeMidium" placeholder="18mm" class="form-control">
                                                                    </div>
                                                                    <div class="col-sm-3">
                                                                        <input type="text" name="sizeLarge" id="sizeLarge" placeholder="22mm" class="form-control">
                                                                    </div>
                                                                   
                                                                
                                                                <div class="col-sm-3">
                                                                   
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                   
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group row">
                                                                <label class="col-sm-3 col-form-label " for="productPrice">Price</label>
                                                                <div class="col-sm-9">
                                                                    <input type="text" class="form-control" name="productPrice" id="productPrice" placeholder="Price" name="productPrice" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group row">
                                                                <label class="col-sm-3 col-form-label " for="productMrp">MRP</label>
                                                                <div class="col-sm-9">
                                                                    <input type="text" class="form-control" id="productMrp" placeholder="MRP" name="productMrp" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group row">
                                                                <label class="col-sm-3 col-form-label " for="ProductImages">Photos</label>
                                                                <div class="col-sm-9">
                                                                    <input type="file" class="form-control" id="productImages" placeholder="Photos" name="productImages" multiple/>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                    
                                                </form>
                                            </div>
                                        </div>
                                    </div>



                                
                                </div>
                            

    
                            </div>
                            <!-- content-wrapper ends -->
                            <!-- partial:  partials/_footer.html -->
                            <footer class="footer">
                                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                                    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Premium
                                        <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin
                                            template</a> from
                                        BootstrapDash.</span>
                                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright ©
                                        2021. All rights
                                        reserved.</span>
                                </div>
                            </footer>
                            <!-- partial -->
                        </div>
                        <!-- main-panel ends -->
         </div>
            <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
   <script>

 console.log('inside the js')
 const productCategory=document.getElementById("productCategory");
 productCategory.addEventListener("change",()=>{
    let categoryId=productCategory.value;
    const productSubcategory=document.getElementById("productSubcategory");
    // productCategory.innerHTML = '<option value=> option </option>'
    fetch("/admin/product/fetch",{
        method:"POST",
        headers: {'Content-Type': 'application/json'},
        body:JSON.stringify({categoryId})
    }).then(res=>res.json()).then(data=>{
        let subcategory=data.subcategory;
        console.log(subcategory); 
        console.log( subcategory.length);
        if(subcategory.length>0)
        {
             addingHtml="";
        for(let i=0;i<subcategory.length;i++)
        {
             addingHtml += '<option value='+i+'>' +subcategory[i]+' </option>';
              console.log(subcategory[i]);
            } 
            
        }else{
            productSubcategory.innerHTML= '<option value=> option </option>'
        }
        // document.getElementById("product")
        // document.getElementById("productSubcategory").innerHTML+="<h3>dfsfsd</>h3";
        console.log(addingHtml)
        productSubcategory.innerHTML+=addingHtml;


              
        
    })
 });
   </script>
<%- include("./partials/_jsPlagins") %> 
    <!-- endinject -->
    <!-- Custom js for this page-->
    <!-- End custom js for this page-->
</body>

</html>