<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Male-Fashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
        <%- include("./partials/cssplagin.ejs") %>

</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
        <%- include("./partials/header.ejs") %>

    <!-- Header Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shopping Cart</h4>
                        <div class="breadcrumb__links">
                            <a href="/">Home</a>
                            <a href="/products">Shop</a>
                            <span>Shopping Cart</span>
                        </div>      
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shopping Cart Section Begin -->
    <section class="shopping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="shopping__cart__table">
                        <table>
                            <thead>
                                
                                <div class="alert alert-light" role="alert">
                                    <h4>
                                        <% if(message.length>0){ %> <%= message %>
                                
                                    </h4>
                                    empty cart canot checkout
                                    <% } %>
                                
                                
                                </div>
                                <tr>
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                        
                            <tbody>
                                
                            <% let i=0; for(item of items) {%>
                                <tr>
                                   
                                        <td class="product__cart__item">
                                            <div class="product__cart__item__pic">

                                
                                
                                                <img src="<%=item.product[0].phots[0].url%> " alt="" width="130" height="110">
                                            </div>
                                            <div class="product__cart__item__text">
                                                <h6>
                                            <%=item.product[0].name%>
                                                </h6>
                                                <h5>₹
                                                     
                                                    <%=item.product[0].price%>
                                                
                                                </h5>
                                                <P> Size: <%= item.itemSize %>  </P>
                                            </div>
                                        </td>
                                
                                
                                        <td class="quantity__item">
                                            <div class="quantity">
                                                <div class="pro-qty-2"> <%=item.product.productId%> 
                                                    <span class="fa fa-angle-left dec qtybtn" onclick="dec(event,'<%=item.itemSize%>','<%=item.product[0]._id%>','<%=item.itemProductId%>','<%=item.product[0].price%>','<%=item.itemProductId%>')"></span>
                                                    
                                                    <input type="text" value="<%=item.itemQuantity%>"   class="cartButton">
                                                    <span class="fa fa-angle-right inc qtybtn" onclick="inc(event,'<%=item.itemSize%>','<%=item.product[0]._id%>','<%=item.itemProductId%>','<%=item.product[0].price%>','<%=item.itemProductId%>')"></span>
                                                   
                                                </div>
                                            </div>
                                        </td>
                                
                                        <td class="cart__price" id="<%=item.itemProductId%>">₹<%= item.itemQuantity*item.product[0].price %> </td>
                                        <td class="cart__close">
                                            <form action="/cart?_method=DELETE" method="post">
                                                <input type="text" value="<%=item.itemProductId%>" hidden name="itemId">
                                                <button type="submit" style="border:none;border-radius:30px;"><i class="fa fa-close"></i></button>
                                            </form>
                                        </td>
                                
                                    </tr>     
                                   <% } %> 
                               
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn">
                                <a href="/">Continue Shopping</a>
                            </div>
                        </div>
                        <!-- <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn update__btn">
                                <a href="#"><i class="fa fa-spinner"></i> Update cart</a>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="cart__discount">
                        <h6>Discount codes</h6>
                        <form action="#">
                            <input type="text" placeholder="Coupon code">
                            <button type="submit">Apply</button>
                        </form>
                    </div>
                    <div class="cart__total">
                        <h6>Cart total</h6>
                        <ul>
                            <!-- <li>Subtotal <span>$ 169.50</span></li> -->
                            <li>Total <span  id="grandTotal">₹ <%= grandTotal %> </span></li>
                        </ul> 
                        <a href="/checkout" class="primary-btn">Proceed to checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shopping Cart Section End -->


    <!-- Footer Section Begin -->
    <%- include("./partials/footer.ejs") %>
        <!-- Search End -->

        <script>
             grandTotal=document.getElementById("grandTotal")
            
            // var cartButton = document.getElementsByClassName('cartButton');
                // for (var i = 0; i < cartButton.length; i++) {
                    // cartButton[i].addEventListener("change", function () {
                        // document.getElementById("demo").innerHTML = this.innerHTML;
                        // console.log("hai mounse ni our killaddi thanne")
                    // });
                // }
                function dec(event,productSize,productId,sumId,price,elmId) {
                    sumId=String(sumId);
                    let t;
                  let  cartTotal=  document.getElementById(sumId)
                   console.log("sum ",cartTotal)
                  
                   
                    //   console.log(event.currentTarget);
                      console.log(productSize,productId);
                      let quality= event.currentTarget.nextElementSibling;
                    //   quality.value=5;
                    // 
                    let value=-1;
                     if(quality.value>1){
                     fetch("/cartedit", {
                         method: "POST",
                         headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({ productId,productSize,value,elmId})
                    }).then(res => res.json()).then(data => {
                        console.log(data);
                            console.log(data.grandTotal);
                             t = cartTotal.innerHTML;
                        t = t.slice(1);
                        t = t - price;
                        console.log(t)
                        cartTotal.innerHTML = "₹" + t;
                            
                            grandTotal.innerHTML = "₹" + data.grandTotal;



                        //  console.log(quality.value)
                        quality.value--                    
                     })                                       
                 }
            }

                function inc(event,productSize, productId,sumId,price,elmId) {
                      sumId = String(sumId);
                    let t;
                    let cartTotal = document.getElementById(sumId)
                        // console.log(event.currentTarget);
                        // console.log(event.currentTarget.previousElementSibling.id)
                        // console.log("hai inc ")
                        //  console.log(event.currentTarget);
                    let quality = event.currentTarget.previousElementSibling;
                    //   console.log(event.currentTarget.nextElementSibling.value=5)                 

                    let value=1;
                   
                        fetch("/cartedit", {
                            method: "POST",
                            headers: { 'Content-Type': 'application/json' },
                            body: JSON.stringify({  productId, productSize, value ,elmId})
                        }).then(res => res.json()).then(data => {
                            // console.log(data.grandTotal);
                            // console.log(quality.value)
                            grandTotal.innerHTML ="₹"+data.grandTotal;
                              console.log(data.grandTotal);
                            t = cartTotal.innerHTML;
                            t = t.slice(1);
                            t = Number(t)  + Number(price) ;
                            console.log(t)
                            cartTotal.innerHTML = "₹" + t;

                            quality.value++

                        })                                       
                            
                }



             
            // productCategory.addEventListener("oninput",

           
           
                 

              
            //     let categoryId = productCategory.value;
            //     const productSubcategory = document.getElementById("productSubcategory");
            //    productCategory.innerHTML = '<option value=> option </option>'
                // fetch("/admin/product/fetch", {
                //     method: "POST",
                //     headers: { 'Content-Type': 'application/json' },
                //     body: JSON.stringify({ categoryId })
                // }).then(res => res.json()).then(data => {
                //     let subcategory = data.subcategory;
                //     console.log(subcategory);
                //     console.log(subcategory.length);
                //     if (subcategory.length > 0) {
                //         addingHtml = "";
                //         for (let i = 0; i < subcategory.length; i++) {
                //             addingHtml += '<option value=' + i + '>' + subcategory[i] + ' </option>';
                //             console.log(subcategory[i]);
                //         }
                //         productSubcategory.innerHTML = '<option value=> option </option>'
                //     } else {
                //         productSubcategory.innerHTML = '<option value=> option </option>'
                //     }
                //     // document.getElementById("product")
                //     // document.getElementById("productSubcategory").innerHTML+="<h3>dfsfsd</>h3";
                //     console.log(addingHtml)
                //     productSubcategory.innerHTML += addingHtml;




            //     })
            // });
        </script>
    
        <!-- Js Plugins -->
        <%- include("./partials/jsPlagin.ejs") %>

</body>

</html>