<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Male-Fashion | Template</title>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
        rel="stylesheet">
    <style>
        .checkoutInput {
            font-size: 14px;
            color: #b7b7b7;
            height: 50px;
            width: 100%;
            border: 1px solid #e1e1e1;
            padding-left: 20px;
        }

        .checkoutButton {
            font-size: 14px;
            color: #ffffff;
            font-weight: 700;
            letter-spacing: 2px;
            text-transform: uppercase;
            background: #111111;
            padding: 0 30px;
            border: none;
            position: absolute;
            right: 0;
            top: 12;
            height: 7%;
        }

        .discoutText {
            color: #111111;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 35px;
        }
    </style>
    <!-- Css Styles -->
    <%- include("./partials/cssplagin.ejs") %>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Offcanvas Menu Begin -->
    <%- include("./partials/header.ejs") %>
        <!-- Header Section End -->
        <!-- Breadcrumb Section Begin -->
        <section class="breadcrumb-option">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb__text">
                            <h4>Check Out</h4>
                            <div class="breadcrumb__links">
                                <a href="/">Home</a>
                                <a href="/product">Shop</a>
                                <span>Check Out</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Breadcrumb Section End -->
        <!-- Checkout Section Begin -->
        <section class="checkout spad">
            <form action="/orderRedirect" method="post" id="addresForm">
                <div class="container">
                    <div class="checkout__form">
                        <div class="row">
                            <div class="col-lg-8 col-md-6">
                                <div class="table-responsive">
                                    <table class="table custom-table" style="background-color:#F3F2EE;">
                                        <thead>
                                            <tr>
                                                <th>num</th>
                                                <th>
                                                </th>
                                                <th>address</th>
                                                <th>Edit</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% let i=0; for( add of address) { %>
                                                <tr>
                                                    <td>
                                                        <%= i+1 %>
                                                    </td>
                                                    <th>
                                                        <label class="control control--checkbox">
                                                            <input type="radio" value="<%=add._id%>%>"
                                                                name="addressIndex" <%if(i===0){ %>
                                                            checked<% } %>
                                                                />
                                                                <div class="control__indicator"></div>
                                                        </label>
                                                    </th>
                                                    <td>
                                                        <h5 style="font-weight:bolder ;">
                                                            <%= add.name %>,
                                                        </h5>
                                                        <h5>
                                                            add <%= add.address %> addd, <%= add.town %>,<%= add.state
                                                                        %> ,<%= add.country %>
                                                        </h5>
                                                        <h6> pin: <%= add.pin %>
                                                        </h6>
                                                        <h6> phone: <%= add.phone %>

                                                        </h6>
                                                        <h6> email: <%= add.email %>

                                                        </h6>
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-primary"
                                                            data-toggle="modal" data-target="#editModal"
                                                            onclick="edit('<%=add.name%>','<%=add.address%>','<%=add.town%>','<%=add.state%>','<%=add.country%>','<%=add.pin%>','<%=add.phone%>','<%=add._id%>','<%=add.email%>')">
                                                            Edit Address
                                                        </button>
                                                    </td>
                                                </tr>
                                                <%i++; } %>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target="#myModal">
                                        Add Address
                                    </button>
                                    <br>
                                    <h6>
                                        <%= meg %>
                                    </h6>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 ">
                                <div class="cart__discount">
                                    <h6 class="discoutText">Discount codes</h6>

                                    <input type="text" placeholder="Coupon code" class="checkoutInput" id="couponCode">
                                    <button type="button" class="checkoutButton" id="couponButton">Apply</button>
                                    <br>
                                    <br>
                                    <div id="couponCodeDisplay">
                                        <% if(code){ %>
                                            coupon Code :
                                            <%= code.couponCode%>

                                                <% } %>
                                    </div>




                                </div>

                                <div class="checkout__order">
                                    <h4 class="order__title">Your order</h4>
                                    <div class="checkout__order__products">Product <span>Total</span></div>
                                    <% let j=0; for(item of items) {%>
                                        <ul class="checkout__total__products">
                                            <li>
                                                <%= j+1 %>. <%=item.product[0].name %>
                                                        <%=item.itemSize%>
                                                            X <%= item.itemQuantity %>
                                                                <span>
                                                                    <%= item.product[0].price*item.itemQuantity %>
                                                                </span>
                                            </li>
                                        </ul>
                                        <% j++; } %>

                                            <ul class="checkout__total__all">
                                                <li>Price <span id="price" value="<%=price %>">₹
                                                        <%= price %>
                                                    </span></li>
                                                <li>Final Price <span id="bill"> ₹ <% if(code){ %>
                                                            <%= Math.round(price-( price*code.discountPercentage/100))
                                                                %>
                                                                <% }else{ %>
                                                                    <%= price %>
                                                                        <% } %> </span></li>
                                            </ul>
                                            <div class="checkout__input__checkbox">
                                                <label for="COD">
                                                    Cash on Delivery
                                                    <input type="radio" id="COD" name="paymentType" value="COD" checked>
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                            <div class="checkout__input__checkbox">
                                                <label for="razorpay">
                                                    Razorpay
                                                    <input type="radio" id="razorpay" name="paymentType"
                                                        value="razorpay">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                            <button type="submit" class="site-btn">PLACE ORDER</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>

        <!-- modal start add address -->
        <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Add address</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <form action="/addressPost" method="post">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Name<span>*</span></p>
                                        <input type="text" id="name" name="name">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Address<span>*</span></p>
                                        <input type="text" id="address" name="address">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Town<span>*</span></p>
                                        <input type="text" id="town" name="town">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>State<span>*</span></p>
                                        <input type="text" id="state" name="state">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Country<span>*</span></p>
                                        <input type="text" id="country" name="country">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Postcode / ZIP<span>*</span></p>
                                        <input type="text" id="pin" name="pin">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Phone<span>*</span></p>
                                        <input type="text" id="phone" name="phone">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Email<span>*</span></p>
                                        <input type="text" id="email" name="email" required>
                                    </div>
                                </div>

                            </div>
                            <div class="d-flex justify-content-center">
                                <button type="submit" class="btn btn-dark"> Add Address </button>
                            </div>
                        </form>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal start edit address -->
        <div class="modal fade" id="editModal">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Edit address</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <form action="/addressedit?_method=PATCH" method="post">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Name<span>*</span></p>
                                        <input type="text" id="editName" name="name">
                                        <input type="text" id="index" name="index" value="null" hidden>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Address<span>*</span></p>
                                        <input type="text" id="editAddress" name="address">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Town<span>*</span></p>
                                        <input type="text" id="editTown" name="town">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>State<span>*</span></p>
                                        <input type="text" id="editState" name="state">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Country<span>*</span></p>
                                        <input type="text" id="editCountry" name="country">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Postcode / ZIP<span>*</span></p>
                                        <input type="text" id="editPin" name="pin">
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Phone<span>*</span></p>
                                        <input type="text" id="editPhone" name="phone">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Email<span>*</span></p>
                                        <input type="text" id="editEmail" name="email" required>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button type="submit" class="btn btn-dark"> edit Address </button>
                            </div>
                        </form>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <%- include("./partials/footer.ejs") %>


            <%- include("./partials/jsPlagin.ejs") %>
                <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
                <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
                <script src="/user/js/checkout.js"></script>



</html>