<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Male-Fashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <%- include("./partials/cssplagin.ejs") %>

</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>


    <!-- Header Section End -->
    <%- include("./partials/header.ejs") %>

        <!-- Shop Details Section Begin -->
        <section class="shop-details">
            <div class="product__details__pic">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product__details__breadcrumb">
                                <a href="./">Home</a>
                                <a href="./products">Shop</a>
                                <span>Product Details</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2 col-md-2">
                            <ul class="nav nav-tabs" role="tablist">

                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">
                                        <div class="product__thumb__pic set-bg"
                                            data-setbg="<%= product.phots[0].url %>">
                                        </div>
                                    </a>
                                </li>
                                <% if(product.phots.length>2){ for(let i=1;i<product.phots.length;i++) {%>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#tabs-<%=i+1%>" role="tab">
                                                <div class="product__thumb__pic set-bg"
                                                    data-setbg="<%= product.phots[i].url %>">
                                                </div>
                                            </a>
                                        </li>
                                        <% } } %>


                            </ul>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                    <div class="product__details__pic__item">
                                        <img src="<%=product.phots[0].url%> " alt="">
                                    </div>
                                </div>
                                <% if(product.phots.length>2){ for(let i=1;i<product.phots.length;i++) {%>
                                        <div class="tab-pane" id="tabs-<%=i+1%>" role="tabpanel">
                                            <div class="product__details__pic__item">
                                                <img src="<%=product.phots[i].url%>" alt="product photos">
                                            </div>
                                        </div>
                                        <% } } %>

                            </div>
                        </div>
                        <div class="col-lg-2"></div>
                        <div class="col-lg-4">
                            <!-- this is prodict details -->
                            <div class="product__details__text">
                                <h4>
                                    <%= product.name %>
                                </h4>

                                <h3>
                                    <%= product.price %>₹ <span>
                                            <%= product.mrp %>₹
                                        </span>
                                </h3>
                                <p>
                                    <%= product.desc %>
                                </p>
                                <form action="/cartadd" method="post">
                                    <div class="product__details__option">
                                        <div class="product__details__option__size">
                                            <span>Size:</span>
                                            <% let t=7;let active="active" ;if(product.stocks.large>0) {%>
                                                <input type="text" name="productId" id="" value="<%=product._id%>"
                                                    hidden>

                                                <label for="l" class="active">l
                                                    <input type="radio" id="l" name="productSize" value="large"
                                                        checked="checked">
                                                </label>

                                                <% }else{ t=1; } if(product.stocks.medium>0) { %>

                                                    <label for="m" <% if(t===1) {%> class="active" <% }%> >m
                                                            <input type="radio" id="m" name="productSize" value="medium"
                                                                <% if(t===1) {%>checked="checked" <% }%>>
                                                    </label>
                                                    <% }else{t=2} if(product.stocks.small>0) {%>
                                                        <label for="sm" <% if(t===2) {%> class="active" <% }%>
                                                                >s
                                                                <input type="radio" id="sm" name="productSize"
                                                                    value="small" <% if(t===2) {%>checked="checked" <%
                                                                    }%>>
                                                        </label>
                                                        <% }%>
                                        </div>

                                    </div>
                                    <div class="product__details__cart__option">
                                        <div class="quantity">
                                            <div class="pro-qty ">
                                                <input type="text" value="1" name="productQuatity">
                                            </div>
                                        </div>
                                        <%   if(typeof name=='undefined' ){ %> 
                                            <button type="button" data-toggle="modal"
                                                 data-target="#loginModal" class="primary-btn" >Add To Cart</button>
        
                                            <% }else{ %>                              
                                        <button type="submit" class="primary-btn">Add To Cart</button>
                                            <% } %> 
                                    </div>
                                </form>
                                <!-- <div class="product__details__btns__option">
                                    <a href="#"><i class="fa fa-heart"></i> add to wishlist</a>

                                </div> -->
                                <div class="product__details__last__option">
                                    <h5><span>Guaranteed Safe Checkout</span></h5>
                                    <img src="/user/img/shop-details/details-payment.png" alt="">
                                    <ul>
                                        <li><span>Id:</span> <%= product._id %> </li>
                                        <li><span>Gender:</span> <%= product.gender[0].name %> </li>
                                        <li><span>Material:</span> <%= product.mateiral[0].name %> </li>
                                        <li><span>Brand:</span> <%= product.brand[0].name %> </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </section>
        <!-- Shop Details Section End -->

        <!-- Related Section Begin -->
        <section class="related spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="related-title">Related Product</h3>
                    </div>
                </div>
                <div class="row">
                  
                    <% for (const item of relatedProducts) { %> 
                    <div class="col-lg-3 col-md-6 col-sm-6 col-sm-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="<%= item.phots[0].url %> ">
                                
                                <ul class="product__hover">
                                    <li><a href="#"><img src="/user/img/icon/heart.png" alt=""></a></li>
                                    <li><a href="#"><img src="/user/img/icon/compare.png" alt="">
                                            <span>Compare</span></a></li>
                                    <li><a href="#"><img src="/user/img/icon/search.png" alt=""></a></li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6><%= item.name %>  </h6>
                                <%   if(typeof name=='undefined' ){ %> 
                                    <button type="button" data-toggle="modal"
                                         data-target="#loginModal"
                                    style="border:none;background:none;">+ Add To Cart</button>

                                    <% }else{ %>                              
                                <a href="#" class="add-cart">+ Add To Cart</a>
                                <% } %> 
                              
                                <h5> ₹ <%=  item.price  %> </h5>
                                <div class="product__color__select">
                                    <label for="pc-1">
                                        <input type="radio" id="pc-1">
                                    </label>
                                    <label class="active black" for="pc-2">
                                        <input type="radio" id="pc-2">
                                    </label>
                                    <label class="grey" for="pc-3">
                                        <input type="radio" id="pc-3">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %> 
                  
                    
                </div>
            </div>
        </section>

        <%- include("./partials/footer.ejs") %>
            <%- include("./signup/login.ejs") %>
                <%- include("./signup/signup.ejs") %>
                    <%- include("./signup/otpVarification.ejs") %>

                        <%- include("./partials/jsPlagin.ejs") %>

</body>

</html>