<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Male-Fashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <%- include("./partials/cssplagin.ejs") %>

</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <%- include("./partials/header") %>

        <!-- Header Section End -->

        <!-- Breadcrumb Section Begin -->
        <section class="breadcrumb-option">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb__text">
                            <h4>wishlist</h4>
                            <div class="breadcrumb__links">
                                <a href="/">Home</a>
                                <span>wishlist</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Breadcrumb Section End -->

        <!-- Shop Section Begin -->
        <section class="shop spad">
            <div class="container">
                <div class="row">
                    <!-- <div class="col-lg-3">
                    pattial side bar 
                    <%-  %> 
                    <%- include("./partials/filter.ejs") %>

                </div> -->
                    <div class="col-lg-12">
                        <div class="shop__product__option">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="shop__product__option__left">
                                        <p>list of item in wishlist</p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">

                                </div>
                            </div>
                        </div>
                        <% if(isproduct===true){%>
                            <div class="row">
                                <% let i=0;for(item of product) {%>
                                    <div class="col-lg-3 col-md-6 col-sm-6" id="delete<%=item._id%>">
                                        <div class="product__item sale">
                                            <div class="product__item__pic set-bg"
                                                data-setbg="<%= item.phots[0].url %>">
                                                <span class="label">Sale</span>
                                                <ul class="product__hover">
                                                    <li><button type="button" style="padding: 0;
                                                    border: none;
                                                    background: none;"
                                                            onclick="wishlistDelete(event,'<%=item._id%>')"><img
                                                                src="/user/img/icon/heart.png" alt="">
                                                        </button></li>

                                                </ul>
                                            </div>
                                            <div class="product__item__text">
                                                <h6>
                                                    <%= item.name %>
                                                </h6> <!-- name of the product     -->
                                                <a href="/product/<%=item._id%>" class="add-cart">+ Add To Cart</a>
                                                <div class="rating">

                                                </div>
                                                <h5>
                                                    <%= item.price %> ₹
                                                </h5><!-- price of the product     -->
                                                <!-- <div class="product__color__select">
                                                <label for="pc-4">
                                                    <input type="radio" id="pc-4">
                                                </label>
                                                <label class="active black" for="pc-5">
                                                    <input type="radio" id="pc-5">
                                                </label>
                                                <label class="grey" for="pc-6">
                                                    <input type="radio" id="pc-6">
                                                </label>
                                            </div> -->
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>



                            </div>
                            <% } %>

                    </div>
                </div>
            </div>
        </section>
        <!-- Shop Section End -->

        <!-- Footer Section Begin -->
        <%- include("./partials/footer.ejs") %>
            <script>
                console.log("hai")
                function wishlistDelete(event, id) {
                    event.preventDefault()
                    let product = document.getElementById("delete" + id)
                    console.log(product);

                    console.log(id);

                    fetch("/wishlistDelete", {
                        method: "post",
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({ id })
                    }).then(res => res.json()).then(data => {


                        product.remove()

                    })


                }
            </script>
            <!-- Js Plugins -->
            <%- include("./partials/jsPlagin.ejs") %>

</body>

</html>