<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Male-Fashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <%- include("./partials/cssplagin.ejs") %>

</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <%- include("./partials/header") %>

        <!-- Header Section End -->

        <!-- Breadcrumb Section Begin -->
        <section class="breadcrumb-option">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb__text">
                            <h4>wishlist</h4>
                            <div class="breadcrumb__links">
                                <a href="/">Home</a>
                                <span>wishlist</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Breadcrumb Section End -->

        <!-- Shop Section Begin -->
        <section class="shop spad">
            <div class="container">
                <div class="row">
                    <!-- <div class="col-lg-3">
                    pattial side bar 
                    <%-  %> 
                 
                </div> -->
                    <div class="col-lg-12">
                        <div class="shop__product__option">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="shop__product__option__left">
                                        <% if(product.length>0){%>
                                            <p>
                                                <%= product.length %> item in wishlist
                                            </p>
                                            <% }else{ %>
                                                <p>0 item in wishlist</p>
                                                <% } %>

                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">

                                </div>
                            </div>
                        </div>
                        <% if(product.length>0){%>
                            <div class="row">
                                <% let i=0;for(item of product) {%>
                                    <div class="col-lg-4 col-md-6 col-sm-6" id="delete<%=item._id%>">
                                        <div class="product__item sale">
                                            <div class="product__item__pic"
                                                style="background-image:url('<%= item.phots[0].url %>');background-size: 400px;"
                                                id="oneId">
                                                <span class="label">Sale</span>
                                                <ul class="product__hover">
                                                    <% if(typeof name=='undefined' ){ %>
                                                        <li> <button type="button" data-toggle="modal"
                                                                data-target="#loginModal"
                                                                style="border:none;background:none;"><img
                                                                    src="/user/img/icon/heart.png" alt="">
                                                            </button></li>
                                                        <% }else{ %>
                                                            <li><button id="<%= item._id %>" type="button" style="padding: 0;
                                                                border: none;
                                                                background: none;"
                                                                     onclick="wishlistDelete(event,'<%=item._id%>')"><img
                                                                        src="/user/img/icon/heart.png" alt="">
                                                                </button></li>
     
    
                                                            <% } %>
    
                                                </ul>
                                            </div>
                                            <div class="product__item__text">
                                                <h6>
                                                    <%= item.name %>
                                                </h6>
                                                <a href="/product/<%=item._id%>" class="add-cart">+ Add To Cart</a>
                                                <h5 class="productPrice">
                                                    <%= item.price %> ₹
                                                </h5>
                                               
                                                
                                            </div>
                                        </div>
    
                                    </div>








                                   
                                    <% } %>



                            </div>
                            <% } %>

                    </div>
                </div>
            </div>
        </section>
        <!-- Shop Section End -->

        <!-- Footer Section Begin -->
        <%- include("./partials/footer.ejs") %>
            <script>
                console.log("hai")
                function wishlistDelete(event,id) {

                    event.preventDefault()
                    console.log("hai inside the wishlist fuction")
                    let product = document.getElementById("delete" + id)

                    console.log(product);

                    console.log(id);

                    fetch("/wishlistDelete", {
                        method: "post",
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({ id })
                    }).then(res => res.json()).then(data => {


                        product.remove()

                    })
                }
            </script>
            <!-- Js Plugins -->
            <%- include("./partials/jsPlagin.ejs") %>

</body>

</html>