<div class="shop__sidebar">
    <div class="shop__sidebar__search">
        <form action="#">
            <input type="text" placeholder="Search...">
            <button type="submit"><span class="icon_search"></span></button>
        </form>
    </div>
    <div class="shop__sidebar__accordion">
        <div class="accordion" id="accordionExample">
            <div class="card">

                <div class="card-heading">
                    <a data-toggle="collapse" data-target="#collapseOne">Brands</a>
                </div>
                <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="shop__sidebar__size">
                            <form action="" method="get" id="brandFileter">
                                <% for (const brand of brands) { %>
                                    <input type="checkbox" id="<%= brand.id%>" value="<%= brand.id %> "
                                        onchange="brandChange('<%= brand.id%>');">
                                    <label for="<%=brand.id%>">
                                        <%= brand.brandName %>
                                    </label>
                                    <% } %>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-heading">
                    <a data-toggle="collapse" data-target="#collapseTwo">Matririal</a>
                </div>
                <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="shop__sidebar__size">
                            <form action="" method="get" id="materialFilter">
                                <% for (const brand of material) { %>
                                    <input type="checkbox" id="<%= brand.id%>" value="<%= brand.id %> "
                                        onchange="materialChange('<%= brand.id%>');">
                                    <label for="<%=brand.id%>">
                                        <%= brand.materialName %>
                                    </label>
                                    <% } %>
                            </form>
                        </div>
                    </div>
                </div>
            </div>       
            
           
        </div>
    </div>
</div>